@tailwind base;
@tailwind components;
@tailwind utilities;

.bx-xxs {
  width: 0.5rem;
}

.bx-xs {
  font-size: 1.25rem !important;
}

.bx-base {
  font-size: 1.7rem !important;
}

.bx-xl {
  font-size: 2.5rem !important;
}

.bx-2xl {
  font-size: 3.5rem !important;
}

.ml-3 {
  margin-left: 0.75rem !important;
}
