@import url("./scrollbar");
@import url("./animation.css");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color-start: rgb(239, 244, 245);
  --background-color-end: rgb(255, 255, 255);
  --popup-background-color: #fff;
  --header-background-color: #fff;
  --default-background: rgb(239, 244, 245);
  --loading-backdrop: brightness(0.9) blur(1px);

  --second-background-color: #fff;
  --third-background-color: #e7edef;
  --border-color: #f2f0f0;

  --shadow-color-start: rgba(0, 0, 0, 0.1);
  --shadow-color-end: rgba(0, 0, 0, 0.6);

  --radius-base: 0.5rem;

  /* primary color */
  --primary-color: 51, 151, 230;
  --primary-color-50: 240, 248, 255;
  --primary-color-100: 199, 225, 247;
  --primary-color-200: 135, 206, 235;
  --primary-color-300: 92, 175, 231;
  --primary-color-400: 51, 151, 230;
  --primary-color-500: 0, 119, 204;
  --primary-color-600: 0, 107, 179;
  --primary-color-700: 0, 90, 156;
  --primary-color-800: 0, 77, 128;
  --primary-color-900: 0, 61, 102;
  --primary-color-1000: 0, 46, 77;
  --primary-color-1100: 0, 34, 51;
  --primary-color-1200: 0, 22, 38;
  --primary-color-1300: 0, 11, 19;
  --primary-color-1400: 0, 0, 0;

  /* secondary color */
  --secondary-color: 255, 165, 0;
  --secondary-color-50: 255, 248, 240;
  --secondary-color-100: 254, 231, 195;
  --secondary-color-200: 252, 217, 146;
  --secondary-color-300: 255, 204, 102;
  --secondary-color-400: 255, 165, 0;
  --secondary-color-500: 255, 153, 0;
  --secondary-color-600: 230, 138, 0;
  --secondary-color-700: 204, 122, 0;
  --secondary-color-800: 179, 107, 0;
  --secondary-color-900: 143, 79, 0;
  --secondary-color-1000: 102, 51, 0;
  --secondary-color-1100: 77, 38, 0;
  --secondary-color-1200: 51, 26, 0;
  --secondary-color-1300: 38, 19, 0;
  --secondary-color-1400: 26, 13, 0;

  /* skeleton color */
  --skeleton-default-color: 230, 230, 230;
  --skeleton-color-50: 250, 250, 250;
  --skeleton-color-100: 242, 242, 242;
  --skeleton-color-200: 235, 235, 235;
  --skeleton-color-300: 228, 228, 228;
  --skeleton-color-400: 220, 220, 220;
  --skeleton-color-500: 212, 212, 212;
  --skeleton-color-600: 204, 204, 204;
  --skeleton-color-700: 196, 196, 196;
  --skeleton-color-800: 189, 189, 189;
  --skeleton-color-900: 181, 181, 181;
  --skeleton-color-1000: 173, 173, 173;
  --skeleton-color-1100: 165, 165, 165;

  /* vip color */
  --vip-color: 255, 215, 0;
  --vip-color-50: 255, 248, 240;
  --vip-color-100: 254, 231, 195;
  --vip-color-200: 252, 217, 146;
  --vip-color-300: 255, 204, 102;
  --vip-color-400: 255, 165, 0;
  --vip-color-500: 255, 153, 0;
  --vip-color-600: 230, 138, 0;
  --vip-color-700: 204, 122, 0;
  --vip-color-800: 179, 107, 0;
  --vip-color-900: 143, 79, 0;
  --vip-color-1000: 102, 51, 0;
  --vip-color-1100: 77, 38, 0;
  --vip-color-1200: 51, 26, 0;
  --vip-color-1300: 38, 19, 0;
  --vip-color-1400: 26, 13, 0;

  /* deluxe color */
  --deluxe-color: 135, 206, 235;
  --deluxe-color-50: 235, 245, 250;
  --deluxe-color-100: 197, 232, 250;
  --deluxe-color-200: 144, 207, 240;
  --deluxe-color-300: 94, 183, 238;
  --deluxe-color-400: 50, 161, 232;
  --deluxe-color-500: 31, 136, 200;
  --deluxe-color-600: 24, 117, 173;
  --deluxe-color-700: 19, 99, 144;
  --deluxe-color-800: 15, 81, 116;
  --deluxe-color-900: 12, 65, 92;
  --deluxe-color-1000: 8, 52, 73;
  --deluxe-color-1100: 5, 40, 56;
  --deluxe-color-1200: 3, 26, 36;
  --deluxe-color-1300: 2, 19, 27;
  --deluxe-color-1400: 1, 13, 18;

  --scroll-bar-bg: rgb(var(--primary-color-300));
  --scroll-bar-bg-hover: rgb(var(--primary-color-400));
  --scroll-bar-track: rgb(var(--primary-color-50));

  --progressbar-background: rgb(var(--primary-color-50));

  --autofill-background-color: rgb(var(--primary-color-100));
  --autofill-color: rgb(var(--primary-color-900));
  --preview-border-color: rgba(0, 0, 0, 0.25);

  --vip-border-image: linear-gradient(
    to bottom,
    rgba(var(--vip-color-300), 0.5) 10%,
    rgba(var(--vip-color-500), 0.5) 70%
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-color-start: #141414;
    --background-color-end: #121212;
    --popup-background-color: #121212;
    --header-background-color: #050505;
    --default-background: #0f0e0e;
    --second-background-color: #121212;
    --third-background-color: #191919;

    --skeleton-default-color: 43, 42, 42;
    --skeleton-color-50: 33, 33, 33;
    --skeleton-color-100: 31, 31, 31;
    --skeleton-color-200: 29, 29, 29;
    --skeleton-color-300: 27, 27, 27;
    --skeleton-color-400: 25, 25, 25;
    --skeleton-color-500: 23, 23, 23;
    --skeleton-color-600: 21, 21, 21;
    --skeleton-color-700: 19, 19, 19;
    --skeleton-color-800: 17, 17, 17;
    --skeleton-color-900: 15, 15, 15;
    --skeleton-color-1000: 13, 13, 13;
    --skeleton-color-1100: 11, 11, 11;
  
    --loading-backdrop: brightness(0.5) blur(1px);

    --scroll-bar-bg: rgb(var(--primary-color-500));
    --scroll-bar-bg-hover: rgb(var(--primary-color-600));
    --scroll-bar-track: var(--background-color-end);

    --progressbar-background: rgb(var(--primary-color-1100));

    --shadow-color-start: rgba(255, 255, 255, 0.1);
    --shadow-color-end: rgba(255, 255, 255, 0.6);
    --preview-border-color: rgba(255, 255, 255, 0.25);

    --border-color: #353535;

    --autofill-background-color: rgb(var(--primary-color-1000));
    --autofill-color: rgb(var(--primary-color-50));
  }
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--autofill-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--autofill-background-color) inset;
  box-shadow: 0 0 0px 1000px var(--autofill-background-color) inset;
  transition: background-color 5000s ease-in-out 0s;
  color: var(--autofill-color) !important;
}

.sspin {
  --color-primary: rgb(var(--primary-color));
}

.sspin-provider.sspin-loading .sspin-overlay {
  backdrop-filter: var(--loading-backdrop) !important;
  border-radius: var(--radius-base);
}

.bx-xxs {
  width: 0.5rem;
}

.bx-xs {
  font-size: 1.25rem !important;
}

.bx-base {
  font-size: 1.7rem !important;
}

.bx-xl {
  font-size: 2.5rem !important;
}

.bx-2xl {
  font-size: 3.5rem !important;
}

.spin-sm .sspin {
  width: 25px;
  height: 25px;
}

::-webkit-datetime-edit-text {
  padding: 0 0.3em;
}

.advanced-cropper .preview {
  border: dashed 2px var(--preview-border-color);
}

.disable-highlight {
  -webkit-tap-highlight-color: transparent;
}

.CircularProgressbar {
  fill: rgb(var(--secondary-color)) !important;
}

.CircularProgressbar-path {
  stroke: rgb(var(--primary-color)) !important;
}
.CircularProgressbar-trail {
  stroke: var(--progressbar-background) !important;
}
.CircularProgressbar-text {
  fill: rgb(var(--secondary-color)) !important;
}