body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(90deg, var(--default-background), var(--header-background-color));
  height: 100%;
  min-height: 100vh;
}

body, html {
  @apply selection:bg-primary-200 selection:text-primary-600 dark:selection:bg-primary-500 dark:selection:text-primary-200 selection:bg-opacity-20 dark:selection:bg-opacity-20;
}
